{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload de Arquivo CSV</title>
</head>
<body>
    <h1>Upload de Arquivo CSV</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar</button>
    </form>
</body>
</html> {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload de Arquivos CSV</title>
</head>
<body>
    <h1>Upload de Arquivos CSV</h1>
    
    <h2>Upload de Arquivo CSV para Sensores</h2>
    <form method="POST" enctype="multipart/form-data" action="{% url 'upload_csv' %}">
        {% csrf_token %}
        {{ form_sensors.as_p }}
        <button type="submit">Enviar CSV de Sensores</button>
    </form>

    <h2>Upload de Arquivo CSV de Temperatura</h2>
    <form method="POST" enctype="multipart/form-data" action="{% url 'temperatura_data' %}">
        {% csrf_token %}
        {{ form_temperature.as_p }}
        <button type="submit">Enviar CSV de Temperatura</button>
    </form>

</body>
</html>
